

.menu {
	padding-right: 10px;	
}

.chartArea {
	margin: auto;
    width: 50%;
    padding: 10px;	
}

.vertical-menu {
    width: 100%; /* Set a width if you like */
    height: 100%;
    background-color: white;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #fec644; /* Add a green color to the "active/current" link */
    color: white;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.pagination{
    display: flex !important;
    justify-content: center;
}

.pagination a{
    font-size: 16px !important;
}

.card{
    min-height: 100px;
}

.card-text{
    
    font-size: 14px !important;
    color: black !important;
} 
.card-block{
    padding-left: 12.5px;
    padding-top: 7.5px;
}

#transactionTable tbody tr td{
    font-size: 14px;

}

.currency {
    text-align: right;
}

.DEPOSIT {
    color: #26D0B4;
}

.WITHDRAW {
    color: #F7464A;
}

.TRANSFER {
    color: #FDB45C;
}

.BILL_PAYMENT {
    color: #3B6BD3;
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#left-panel-bg {

    background-color: #f7f5c8;
}

.logo-bg {
    background-color: white;
}

body{
    background-color: #463E3F !important;
}

.piearea {
    background-color: white;
}

